/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* My code */
:root {
  font-size: 100%;
}
@media (max-width: 900px) {
  :root {
    font-size: 125%;
  }
}
@media (max-width: 600px) {
  :root {
    font-size: 150%;
  }
}
.container {
  margin: 0 auto;
  max-width: 800px;
}
.container h1 {
  font-size: 3em;
  padding: 0.5em;
}
.container h2 {
  font-size: 2em;
  padding: 0.5em;
}
.container header {
  margin: 0.5em;
}
.container header nav {
  display: flex;
  justify-content: flex-end;
}
.container header nav a {
  padding: 0.5em;
  color: #02011a;
  text-decoration: none;
}
.container .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  padding-bottom: 0;
  background-color: #b9b6b6;
}
.container .top img {
  max-width: 100%;
}
.container .middle {
  display: flex;
  margin: 1.5em auto;
}
.container .middle .intro {
  width: 50%;
}
.container .middle .intro p {
  padding: 0.25em;
}
.container .middle .skills {
  width: 50%;
}
.container .middle .skills ul li {
  border: 0.1em solid #be9090;
  border-top: none;
  padding: 0.5em;
}
.container .middle .skills ul :first-child {
  border-top: 0.1em solid #be9090;
}
.container .work-history {
  display: flex;
  flex-direction: column;
}
.container .work-history table th {
  font-weight: bold;
  text-align: left;
}
.container .work-history table :first-child {
  width: 10%;
}
.container .work-history table :nth-child(2) {
  width: 20%;
}
.container .work-history table :nth-child(3) {
  width: 40%;
}
.container .work-history table :nth-child(4) {
  width: 20%;
}
.container .work-history table th,
.container .work-history table td {
  padding: 0.5em;
  border-top: 0.1em solid #be9090;
}
.container .work-history table tbody tr:nth-child(2n + 1) {
  background-color: #8e8df1;
}
.container .work-history table tbody tr:nth-child(2n) {
  background-color: #b0f2fd;
}
